body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.block{
  background-color: rgba(73,194,210,255);
  padding:1rem;
  margin:0.5rem;
  border-radius:0.5rem;
}

.epamColor{
  border: 3px solid #c5d34e;
}

.center {
  text-align: center;
  border: 3px solid #c5d34e;
}

.space{
  margin: .2rem;
}

.itemPrice{
  font-size: 1.6em;
  font-weight: bolder;
}
